.navbar {
    background-color: #597a92;
}
/*
body {
    background-color: #4b4d50;
    color: white;
}*/

.btn-link {
    color: white;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}
.btn-blue {
    color: white;
    background-color: #404aff;
    border-color: #404aff;
}