{% extends 'base.html.twig' %}

{% block title %}Hello ContactPersoController!{% endblock %}

{% block body %}
    <form action="" method="post">
        Contenu<input type="text" name="content">

        <input type="submit">
    </form>
{% endblock %}
