{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création compte particulier</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
            <button class="btn btn-success">Créer compte particulier</button>
    {{ form_end(form) }}
{% endblock %}

