{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

    <h1>Chercher un matricule</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit">
    {{ form_end(form) }}
    
{% endblock %}
